html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock {
  font-size: 10rem;
  font-weight: bold;
  color:yellow;
}

body{
  background-image: url();
}
