html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}





.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15rem;
  font-weight: bold;
  color:yellow;
}

body{
  background-image: url(https://picsum.photos/id/16/1920/1080);
  
}

